body {
  color: #40514E;      /*changes the design and devlopment title color including the othere texts hot wings challenge */
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}


p{
    line-height: 2;
}

hr{
  border: dotted #bac9b9 6px;
  border-bottom: none;
  width: 4%;
  margin: 145px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
   color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container {

      margin: 100px 0;
}

.bottom-container {
 background-color: #C1F8CF;
 padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.pro {
  text-decoration: underline;
}

.intro{
  width: 27%;   /* 30% of parent container ie, middle container --to make i am ios and web dev use 3 different lines*/
  margin: auto
}

.contact-message{
  width: 40%;                           /*love hot wings mesg making it go on 2 lines by changing width*/
  margin: 40px auto 60px;
}

.copyright{
  color: #adbfac;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img{
  width: 25%;
  float: left;
 margin-right: 30px;
}

.chilli-img{
width: 25%;
float: right;
margin-left: 30px;
}
/******************************************BUTTON GENERATOR***************************************************/
.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/*******************************************END OF BUTTON GENERATOR CODE********************************************/
